@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* bootstrap scss override
$theme-colors: (
  "primary": #666699,
); */

$font-stack: 'Roboto', Helvetica, sans-serif!important;

body {
  font-family: $font-stack;
}

button, span {
  a, a:visited,  a:hover {color: #fff;text-decoration: none!important;}

}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}